body {
    margin: 0;
    padding: 0;
}

.bandeau {
    background-color: #242935;
    overflow: hidden;
}

.bandeau a {
    float: right;
    display: block;
    position: fixed;
    color: #242935;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bas {
    background-color: #242935;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.bas a {
    display: inline-block;
    color: #242935;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: 25px;
    margin-right: auto;
    width: 30px;
    padding: 10px 0;
}
