.title {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color:black;
}

.commandes {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    border-radius: 18px;
    color: #fff;
    background: green;
    line-height: 1.15;
    font-size: 16px;
}


.commandes:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }

.graphiques {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: green;
    line-height: 1.15;
    font-size: 16px;
}

.graphiques:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }

.produits {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: green;
    line-height: 1.15;
    font-size: 16px;
}

.produits:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
