body {
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 9%;
    color: black;
}

.buttons-container {
    margin-top: 20px;
}

.commandes,
.produits,
.newingr,
.newprod,
.retour {
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    border-radius: 18px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #262934;
    line-height: 1.15;
    font-size: 16px;
    margin-right: 10px; 
    margin-bottom: 10px;
    vertical-align: middle;
}

.commandes:hover,
.produits:hover,
.newingr:hover,
.newprod:hover,
.retour:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px black;
}

.content {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 80%;
    }

    .commandes,
    .produits,
    .newingr,
    .newprod,
    .retour {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }

    .commandes,
    .produits,
    .newingr,
    .newprod,
    .retour {
        margin-bottom: 10px;
    }

    .commandes:last-child,
    .produits:last-child,
    .newingr:last-child,
    .newprod:last-child,
    .retour:last-child {
        margin-bottom: 0;
    }

    .retour {
        margin-top: 10px;
    }
}
