body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 26px;
    margin-top: 2%;
}

.column {
    width: 100%;
    padding: 0 2px; /* Ajustez le padding pour réduire l'espace intérieur */
    margin-bottom: 2%;
}

.pizza-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px; /* Ajustez le padding pour réduire l'espace intérieur */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.pizza-image {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}

h2 {
    color: #ff2f00;
}

.price, .L {
    text-align: left;
    font-size: medium;
    max-width: 75%;
    color: rgb(0, 0, 0);
}

.pizza-image {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px; /* Ajustez le padding pour réduire l'espace intérieur */
    text-align: center;
    background-color: #000000;
}

.elt {
    text-align: center; /* Centre le contenu horizontalement */
}

.retour {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 15px auto;
}

.retour:hover {
    background-color: #45a049;
}

@media screen and (min-width: 768px) {
    .column {
        width: 48%;
    }
}

@media screen and (min-width: 992px) {
    .column {
        width: 30%;
    }
}
