/* card.css */

.cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
}

.cardContainer {
    border: 1px solid #ddd;
    margin: 10px;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.cardContainer h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cardContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.cardContainer p {
    color: #666;
    font-size: 1em;
    line-height: 1.4;
}

.arrow {
    width: 30px; 
    opacity: 0.5;
    position: fixed;
    bottom:30px;
    right: 15px; 
    z-index: 1000;
}

.arrow img {
    display: block;
    width: 100%;
}

.retour-div {
    text-align: center;
    margin-top: 25px;
}

.retour {
    display: inline-block;
    padding: 10px 15px;
    background-color: #262934;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.retour:hover {
    background-color: #dedede; 
    color: #262934;
}
