body {
    margin: 0;
    padding: 0;
}

.bandeau {
    background-color: #242935;
    overflow: hidden;
}

.bandeau a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5px;
}

.bas {
    background-color: #242935;
    overflow: hidden;
    text-align: center;
    position: fixed;
    bottom: 0; 
    width: 100%;
}

.bas a {
    display: inline-block;
    color: #242935;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#panier {
    background-color: #262934;
    color: white;
    border: none;
    padding: 0px; 
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -2.5px;
}

.logo {
    display: block;
    margin-left: 25px;
    margin-right: auto;
    width: 20px;
    padding: 10px 0;
}
