h2 {
    display: flex;
    justify-content: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.retour {
    display: flex;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    align-items: center;
    max-width: 50px;
    margin-top: -4px;
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: rgb(91, 173, 91);
    color: #fff;
    text-align: center;
    transition: background-color 0.3s;
}

.retour:hover {
    background-color: #337336;
}

.retour-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    form {
        max-width: 100%;
    }

    input,
    select {
        width: 100%; 
        margin-right: 0; 
    }
}